@model SearchBoxModel
<form id="searchFormDesktop" class="relative searchBox-action-btn" asp-route="ProductSearch" method="get" id="small-search-box-form">
    @if (Model.ShowSearchBox)
    {
        // id="small-searchterms"
        <input id="searchInputDesktop" class="searchInput " type="text" placeholder="جستجو" autocomplete="off" name="q"
               placeholder="@T("Search.SearchBox.Tooltip")" aria-label="@T("Search.SearchBox.Text.Label")"
               onkeyup="processChangeDesktop()" />
      
        @* <input type="text" class="search-box-text" id="small-searchterms" autocomplete="off" name="q"
    placeholder="@T("Search.SearchBox.Tooltip")" aria-label="@T("Search.SearchBox.Text.Label")"/> *@
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new
               {
                   widgetZone =
                       PublicWidgetZones.SearchBoxBeforeSearchButton,
                   additionalData = Model
               })
        @* <button type="submit" class="button-1 search-box-button">@T("Search.Button")</button> *@
        @if (Model.SearchTermMinimumLength > 0)
        {
            <script asp-location="Footer">

            </script>
        }

        @if (Model.AutoCompleteEnabled)
        {
            <script asp-location="Footer">

            </script>
        }
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new
               {
                   widgetZone = PublicWidgetZones.SearchBox,
                   additionalData = Model
               })
    }
    <button type="submit">
        <img class="w-[22px]" src="~/Themes/Emporium/Content/icons/search.svg"/>
    </button>
</form>

<div id="searchSuggestionDesktop" class="search-suggestion bg-white
             w-full h-[350px] shadow-custom absolute z-[999] overflow-y-scroll mt-[2px]">
    <div class="relative">
        <div id="searchSugDesktopContent" class="max-h-[350px] overflow-scroll z-10 pb-[30px]">
        </div>
         <div class="flex w-full items-center justify-center absolute bottom-0 left-0 right-0">
            <a id="displayAllResultDesktop" class="displayAllResult w-full bg-[#efefef] flex justify-center text-[13px] p-3">
                <span>مشاهده تمام نتایج</span></a>
        </div>
   </div>
</div>

<script>

</script>